body{
  background: lightgrey;
  text-align: center;
  margin-top: 100px;
}
h1 {
  color: grey;
}

#temp-output{
  width: 200px;
  height: 30px;
  border: 4px double black;
  text-align: center;
  margin: 20px auto;
}
#temp-input {
 width: 200px;
 height: 30px;
 text-align: center;
 margin: 20px;
 /*font-size: 200%;*/
}

